<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New | Simpler application</title>
  </head>
  <body>
    <h1>Simpler framework at work!</h1>

    <p>I am the New action</p>
  </body>
</html>
